@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #2c2c54;
    max-width: 400px;
    margin: 40px auto;
    font-family: "Oldenburg", serif;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

input{
    background-color: #eeee;
    height: 30px;
    width: 290px;
    border-radius: 10px;
    border: 2px solid #d8d53b;
}

button{
    background-color: #2c2c54;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 100px;   
    border-radius: 10px;
    border: 2px solid #d8d53b;
    transition: 0.2s;
}

button:hover{
    background-color: #52529b; 
    transform: scale(1.05);
}

li{
    color: #eeee;
    background-color:#52529b;
    height: 30px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    list-style: none;
    margin: 5px;
    
}